#titulo{
    margin: 70 410px;
    height: 50px;
    color:rgb(173, 18, 166);
    font-family: 'Erica one', cursive;
    font-size: 80px;
    text-align: center;
    text-shadow: 
               0 1px 0 white,
               0 2px 0 white,
               0 3px 0 white,
               0 4px 0 white,
               0 5px 0 white,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgb(0, 238, 255);
}
body {
    background: rgb(250, 193, 228)
}
